
<%= stylesheet_link_tag("style1") %>
<%= javascript_include_tag "script" %>

<body>

<div class="siguiente">
 <a href="paisaje.html" class="rosado"><%= image_tag "siguiente.png"%></a>
</div>


<section>
  <div class="morado"></div>
  <div class="azul"></div> 
  <div class="rojo"></div> 
  <div class="amarillo"></div> 
  <div class="verde"></div>
</section>


  <%= audio_tag("verde.mp3") %>
  <%= audio_tag("rojo.mp3") %>
  <%= audio_tag("amarillo.mp3") %>
  <%= audio_tag("azul.mp3") %>
  <%= audio_tag("morado.mp3") %>
  <%= audio_tag("rosado.mp3") %>

 
 <audio>

   Tu explorador no soporta audio en HTML5!
 </audio>
 

</body>
	
