
<%= stylesheet_link_tag("style2") %>
<%= javascript_include_tag "script2" %>


<body>
	<section id="contenedor">
		<div class="verde"><%= image_tag "verde.png"%></div>
		<div class="azul"><%= image_tag "azul.jpg"%></div>
		<div class="cafe"><%= image_tag "cafe.png"%></div>
        <div class="naranja"><%= image_tag "naranja.png"%></div>
		<div class="negro"><%= image_tag "negro1.png"%></div>	
		<div class="morado"><%= image_tag "morado.png"%></div>
		<div class="rosa"><%= image_tag "rosa.png"%></div>
		<div class="verde2"><%= image_tag "verde2.png"%></div>
		<div class="negro2"><%= image_tag "negro2.png"%></div>
		<div class="cafe2"><%= image_tag "cafe2.png"%></div>
			
			<div id="nubes">
				<div class="blanco"><%= image_tag "blanco1.png"%></div>
				<div class="blanco"><%= image_tag "blanco2.png"%></div>
				<div class="blanco"><%= image_tag "blanco3.png"%></div>
				<div class="blanco"><%= image_tag "blanco4.png"%></div>
			</div>
			<div class="amarillo"><%= image_tag "amarillo.png"%></div>
		</section> 




 <%= audio_tag("verde.mp3")%>
 <%= audio_tag("azul.mp3")%>
 <%= audio_tag("amarillo.mp3")%>
  <%= audio_tag("morado.mp3")%>

<!--  

   <%= audio_tag("azul.mp3")%>
 
  <%= audio_tag("rosado.mp3")%>
  <%= audio_tag("cafe.mp3")%>
  <%= audio_tag("blanco.mp3")%>
  <%= audio_tag("narajado.mp3")%>
  <%= audio_tag("negro.mp3")%> -->
 

 


</body>
</html>